body{
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}
h1{
    font-size: 100px;
    margin-top: 50px;
    font-weight: bold;
}
h2{
    font-size: 55px;
    font-style:italic;
    color:#ffd700;
    margin-bottom:40px;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}
.gallery img{
    width:1000px;
    height:1000px;
    object-fit:cover;
    border:5px solid white;
    border-radius:20px;
    cursor:pointer;
    transition:0.4s;
}
.gallery img:hover{
    transform:scale(1.08);
    box-shadow:0 0 15px white;
}
#lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.95);
    justify-content:center;
    align-items:center;
    z-index:1000;
}
#lightbox img{
    width: 25%;
    height: 50%;
    
    border:4px solid white;
    border-radius:10px;
}
.close-btn{
    position:absolute;
    top:20px;
    right:40px;
    font-size:50px;
    color:white;
    cursor:pointer;
}
.nav-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:40px;
    padding:15px 25px;
    cursor:pointer;
    opacity:0.8;

}
#prev{
    left:30px;
}
#next{
    right:30px;
}
.filter-btn{
    font-size: 50px;
    padding: 18px 45px;
    margin: 12px;
    border-radius: 12px;
    font-weight: bold;
}
.button-container{
    margin:30px 0;
}
@media(max-width:768px){
    .gallery img{
        width:170px;
        height:120px;
    }
}
@media(max-width:480px){
    .gallery img{
        width:140px;
        height:100px;
    }
}